<!DOCTYPE html>
<html>

<header>
    <%- include('../partials/head')%>
</header>


<body class="container">
    <header>
        <%- include('../partials/header')%>
        <style>
            html {
                background: url(img/main.png) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        </style>
    </header>

    <main>
        <div class="jumbotron">

            <h2>Under Maintenance</h2>
            <p> We are very sorry but the site is currently down for scheduled maintenance</p>
            <p> Normal service will resume shortly</p>


        </div>
    </main>


    <footer>
        <%- include('../partials/footer')%>
    </footer>

</body>

</html>